NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SPLIT_CONTRACT=
NEXT_PUBLIC_SAVINGS_CIRCLE_ADDRESS=
NEXT_PUBLIC_usdm_ADDRESS=0x765DE816845861e75A25fCA122bb6898B8B1282a
NEXT_PUBLIC_CHAIN_ID=42220
NEXT_PUBLIC_APP_URL=
CRON_SECRET=
NEXT_PUBLIC_PREDICTION_CONTRACT=
